/* General Styles */
html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
}

a:hover {
  text-decoration: none;
}

/* pageContainer -parent container styles- */
#pageContainer {
  width: 100%;
  height: 100%;
  background-color: #fafafa;
}

/* mastHeadContainer -navbar styles- */
#mastHeadContainer {
  display: flex;
  align-items: center;
  width: 100%;
  height: 56px;
  position: fixed;
  top: 0;
  left: 0;
  padding: 7px 16px;
  box-sizing: border-box;
  border-bottom: 1px solid #e8e8e8;
  background-color: #fff;
  z-index: 1;
}

/* Hamburger */
#mastHeadContainer .navShowHide,
#mastHeadContainer .rightIcons img {
  cursor: pointer;
  width: 40px;
  height: 40px;
  padding: 8px;
  box-sizing: border-box;
  border: none;
  background-color: transparent;
  margin-bottom: 5px;
}

#mastHeadContainer .navShowHide img {
  width: 100%;
}

/* Logo */

#mastHeadContainer .logoContainer {
  width: 150px;
}

#mastHeadContainer .logoContainer img {
  height: 75px;
}

/* SearchBar */
#mastHeadContainer .searchBarContainer {
  display: flex;
  flex: 1;
  margin: 0 40px;
}

#mastHeadContainer .searchBarContainer form {
  display: flex;
  flex: 1;
}

/* takes remaining space until it hits 440px */
#mastHeadContainer .searchBarContainer .searchBar {
  flex: 1;
  max-width: 440px;
  color: #111;
  padding: 2px 6px;
  font-size: 14px;
  font-weight: 100;
  border: 1px solid #ccc;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  border-right: none;
  height: 32px;
  box-shadow: #eee 0px 1px 2px 0px inset;
}

/* Search Button */
#mastHeadContainer .searchBarContainer .searchButton {
  color: #f8f8f8;
  border: 1px solid #d3d3d3;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  height: 32px;
  width: 65px;
  cursor: pointer;
}

#mastHeadContainer .searchBarContainer .searchButton img {
  height: 20px;
}

/* Right Icons (Upload - Profile) */
#mastHeadContainer .rightIcons {
  height: 100%;
}

#mastHeadContainer .rightIcons a:visited,
#mastHeadContainer .rightIcons a:link,
#mastHeadContainer .rightIcons a:hover,
#mastHeadContainer .rightIcons a:active {
  text-decoration: none;
}

/* slideNavContainer -slidebar -sidebar- styles- */
#sideNavContainer {
  width: 240px;
  background-color: #e2dfdf;
  padding-top: 56px;
  position: fixed;
  top: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
}

/* All section which includes main content */
#mainSectionContainer {
  padding-top: 56px;
  display: flex;
}

/* When slideBar is open, give left padding to main container */
#mainSectionContainer.leftPadding {
  padding-left: 240px;
}

#mainContentContainer {
  padding: 10px 30px;
  display: flex;
  flex: 1;
}

/* Upload.php */
.column {
  flex-grow: 1;
  background-color: #fff;
  min-height: 380px;
  padding: 20px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

form .form-group {
  margin: 20px auto;
  max-width: 500px;
}

/* SignIn.php */
.signInContainer {
  background-color: #efefee;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signInContainer .column {
  flex-grow: 0;
  width: 450px;
  padding: 20px 35px;
  max-height: 100%;
  overflow-y: auto;
}

.signInContainer .column .header {
  padding: 20px 0;
}

.signInContainer .column .header h3 {
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  margin: 0;
  padding-bottom: 0;
  padding-top: 16px;
}

.signInContainer .column .header img {
  width: 150px;
}
