/* General Styles */
html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
}

/* pageContainer -parent container styles- */
#pageContainer {
  width: 100%;
  height: 100%;
  background-color: #fafafa;
}

/* mastHeadContainer -navbar styles- */
#mastHeadContainer {
  display: flex;
  align-items: center;
  width: 100%;
  height: 56px;
  position: fixed;
  top: 0;
  left: 0;
  padding: 7px 16px;
  box-sizing: border-box;
  border-bottom: 1px solid #e8e8e8;
  background-color: #fff;
  z-index: 1;
}

/* Hamburger */
#mastHeadContainer .navShowHide {
  cursor: pointer;
  width: 40px;
  height: 40px;
  padding: 8px;
  box-sizing: border-box;
  border: none;
  background-color: transparent;
  margin-bottom: 5px;
}

#mastHeadContainer .navShowHide img {
  width: 100%;
}

/* Logo */

#mastHeadContainer .logoContainer {
  width: 150px;
}

#mastHeadContainer .logoContainer img {
  height: 75px;
}

/* SearchBar */
#mastHeadContainer .searchBarContainer {
  display: flex;
  flex: 1;
  margin: 0 40px;
}

#mastHeadContainer .searchBarContainer form {
  display: flex;
  flex: 1;
}

/* takes remaining space until it hits 440px */
#mastHeadContainer .searchBarContainer .searchBar {
  flex: 1;
  max-width: 440px;
  color: #111;
  padding: 2px 6px;
  font-size: 14px;
  font-weight: 100;
  border: 1px solid #ccc;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  border-right: none;
  height: 32px;
  box-shadow: #eee 0px 1px 2px 0px inset;
}

/* Search Button */
#mastHeadContainer .searchBarContainer .searchButton {
  color: #f8f8f8;
  border: 1px solid #d3d3d3;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  height: 32px;
  cursor: pointer;
}

/* slideNavContainer -slidebar -sidebar- styles- */
#sideNavContainer {
  width: 240px;
  background-color: #e2dfdf;
  padding-top: 56px;
  position: fixed;
  top: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
}

/* All section which includes main content */
#mainSectionContainer {
  padding-top: 56px;
  display: flex;
}

/* When slideBar is open, give left padding to main container */
#mainSectionContainer.leftPadding {
  padding-left: 240px;
}

#mainContentContainer {
  padding: 10px 30px;
}
